#bem-bl
node_modules
#blocks/i-bem/__html/
#blocks/i-bem/__json/_async/
#blocks/i-bem/__json/i-bem__json.priv.js
#blocks/i-bem/i-bem.server.js
blocks/i-promise/i-promise.js
blocks/i-bh/i-bh.js
tests.blocks/mocha/mocha.js
tests.blocks/chai/chai.js
tests.blocks/chai/__as-promised/chai__as-promised.js

.bem/tmp
tests/*/*
!tests/*/*.bemdecl.js
!pages/.gitignore

npm-debug.log
.idea
